@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

header {
  height: 120px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px;
  background: #f5f5f5;
  -webkit-box-shadow: 0px 15px 63px -15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 63px -15px rgba(0, 0, 0, 0.5);
}

/* Menu */
.navbar {
  background-color: var(--white-color);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  min-height: 100px;
}

.nav-item {
  color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  font-weight: bold;
}

.nav-item:hover {
  color: #f5f5f5;
}

.navbar-toggler {
  font-size: 40px;
}

.navbar-toggler:focus {
  outline: none;
}

.nav-link {
  color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  display: inline-block;
  background-color: black;
  letter-spacing: 1px;
  margin-top: 80px;
  margin-left: 10px;
  padding: 5px;
  text-align: center;
  /* font */
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  /* interacción */
  -webkit-transition: 0.03s ease;
  transition: 0.03s ease;
  color: #f5f5f5;
  font-size: 11px;
  text-decoration: none;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  padding: 5px 0;
  margin: 0 5px;
}

.nav-link li {
  background-color: #F8ABE8;
  margin-left: 5px;
  padding: 1em;
}

.nav-link:hover {
  color: #f5f5f5;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  padding: 5px 0;
}

/* Fin Menu */
/* Texto Presentacion */
.content-center {
  max-width: 800px;
  margin: 50px 0px 50px 180px;
  text-decoration: none;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  letter-spacing: 1px;
  margin: 0px auto 10px auto;
  font-size: 15px;
}

/* Fin Texto Presentacion */
/* SLIDER */
.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 400%;
  -webkit-animation: cambio 15s infinite alternate linear;
          animation: cambio 15s infinite alternate linear;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/* FOOTER */
.footer {
  height: -80px;
  margin-top: 10px;
  padding: 20px 0px 20px 0px;
  background: black;
  text-align: center;
  width: 100%;
}

h6 {
  font-size: 10px;
  text-decoration: none;
  color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* FOOTER */
/* TABLERO */
#tablero .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

#tablero img {
  width: 100%;
  height: auto;
}

#tablero img:hover {
  border: 5px solid #f5f5f5;
}

/* FIN TABLERO */
/* CLIENTES */
#clientes .col-lg-3 {
  margin: 0 !important;
  padding: 25px;
}

#clientes img {
  width: 100%;
  height: auto;
}

#clientes img:hover {
  border: 5px solid #f5f5f5;
}

/* FIN CLIENTES */
/* CONTACTO */
.formulario {
  background-image: url("../imagenes/web_jupa03.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  padding: 75px 0px 75px 0px;
}

.formulario form {
  width: 450px;
  margin: auto;
  background-color: rgba(241, 241, 241, 0.5);
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  max-width: 500px;
}

.formulario h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 20px;
  margin-bottom: 20px;
}

.formulario input {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  border: none;
}

.formulario textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  border: none;
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

.formulario #boton {
  background-color: #baf7d8;
  color: #9fa19f;
  padding: 20px;
}

.formulario #boton:hover {
  cursor: pointer;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

.slider-marcas {
  background: white;
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
          box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 980px;
}

.slider-marcas::before, .slider-marcas::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider-marcas::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.slider-marcas::before {
  left: 0;
  top: 0;
}

.slider-marcas .slide-track {
  -webkit-animation: scroll 40s linear;
          animation: scroll 40s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(250px * 14);
}

.slider-marcas .slide {
  height: 100px;
  width: 250px;
}

@media (min-width: 768px) {
  .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 10%;
    max-width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .topmenu__nav li {
    display: block;
    float: none;
    display: block;
    background-color: #F8ABE8;
    margin: 0px;
    padding: 1em;
    text-align: right;
  }
  .link-1 {
    -webkit-transition: none;
    transition: none;
    color: #f5f5f5;
    font-size: 10px;
    text-decoration: none;
    padding: 0;
    margin: 0 20px;
  }
  :hover {
    border-top: none;
    border-bottom: none;
    padding: 0px 0;
  }
  .topmenu {
    display: block;
    width: 100%;
    padding: 20px;
  }
  .form {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .formulario {
    width: 70%;
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 40px;
    line-height: normal;
  }
  .portfolio-details h2 {
    font-size: 32px;
  }
  .plans {
    min-width: unset;
    padding: 40px;
  }
  .carousel-item p {
    font-size: 20px;
  }
  .footer-menu {
    display: block !important;
    padding: 20px 0 !important;
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */