@import 'reset', 'color';



body {
  height:100%;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 120px;
  position: sticky;
  top: 0;
  padding: 20px;
  background:map-get($colors,"white");
  box-shadow: 0px 15px 63px -15px rgba(0, 0, 0, 0.5);
}

.topmenu {
  position: relative;
  
 
  &__logo {
    float: left;
    width: 300px;
    align-items: center;
  }
  
  &__nav {
    position: absolute;
    top: 50px;
    right: 0;
  
    li {
      display: inline-block;
      background-color:map-get($colors,"primary");
      margin-left: 10px;
      padding: 1em;
  
      /* font */
      font-family: 'Montserrat', sans-serif;
      font-size: 0.8em;
      font-weight: bold;
       }
      }
  }
  
#nav-1 {
  background:map-get($colors,"secondary");
}

.link-1 {
  transition: 0.02s ease;
  color:map-get($colors,"white");
  font-size: 10px;
  text-decoration: none;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 20px 0;
  margin: 0 20px;

  &:hover {
    border-top: 4px solid map-get($colors,"white");
    border-bottom: 4px solid map-get($colors,"white");
    padding: 6px 0;
  }
}

.subtitle {
  color:map-get($colors,"primary");
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
/* SLIDER */
.slider {
width: 95%;
margin: auto;
overflow: hidden;
}

  .slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 15s infinite alternate linear;
  }

  .slider li {
  width: 100%;
  list-style: none;
  }

  .slider img {
  width: 100%;
  }

@keyframes cambio {
0% {
    margin-left: 0;
}
20% {
    margin-left: 0;
}
25% {
    margin-left: -100%;
}
45% {
    margin-left: -100%;
}
50% {
    margin-left: -200%;
}
70% {
    margin-left: -200%;
}
75% {
    margin-left: -300%;
}
100% {
    margin-left: -300%;
}
}
/* HOLA SECTION */
.presentacion {
padding: 50px;
column-count: 2;
column-gap: 50px;
text-align: left;
align-items: center;


      &__title {
      padding: 30px 0px 80px 0px;
      color:map-get($colors,"primary");
      font-family: 'Montserrat', sans-serif;
      margin: auto;
      }

      &__par {
      text-align: justify;  
      color: map-get($colors,"gray");
      margin: auto;
      }

      &__par-white {
      color:map-get($colors,"secondary");
      font-weight: bold;
      margin: auto;
      }

}



/* FOOTER */
.footer {
height: -80px;
padding: 20px 0px 20px 0px;
background: linear-gradient(45deg,#F8ABE8 25%, #fad2ec 50%,#F8ABE8 100%);
text-align: center;
width: 100%;

}

h6 {
  color:map-get($colors,"white");
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  
  
}
/* FOOTER */



.tablero {
display: grid;
grid-template-columns: repeat(3, 250px);
grid-gap: 5px;
justify-content: center;
}

.item {
border-radius: 5px;
padding: 10px;
background:map-get($colors,"white");

}

.item img {
max-width: 100%;
}

.level-1 {
grid-row-end: span 3;
}

.level-2 {
grid-row-end: span 2;
}

.level-3 {
grid-row-end: span 1;
}

.galeria {
  padding: 50px 0px 115px 0px;
	width: 800px;
	margin: auto;
	overflow: hidden;
	img {
		float: left;
		width: calc(25% - 30px);
		margin: 15px;
		height: auto;
	}
}

/* CONTACTO */
.formulario {
  background-image: url("../imagenes/web_jupa03.jpg");;
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  padding: 75px 0px 75px 0px;


  form {
  width: 450px;
  margin: auto;
  background-color:map-get($colors,"gray");
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

  h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 20px;
  margin-bottom: 20px;
}

  input {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size:12px;
  border: none;
  
}

 textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 12px;
  border: none;
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background-color:map-get($colors,"green");
  color: map-get($colors,"gray");
  padding: 20px;
}

#boton:hover {
  cursor: pointer;
}

}


@media screen and (max-width:700px) {
  

 
  .topmenu__nav li {
    display: block;
    float: none;
    display: block;
    background-color: #F8ABE8;
    margin: 0px;
    padding: 1em;
    text-align: right;
    
  }
  
  .link-1 {
    transition: none;
    color:map-get($colors,"white");
    font-size: 10px;
    text-decoration: none;
    padding: 0;
    margin: 0 20px;
    
  }
    &:hover {
      border-top: none;
      border-bottom: none;
      padding: 0px 0;
    }

    .topmenu {
      display: block;
      width: 100%;
      padding: 20px;
    }

    .form {
      width: 100%;
    }
}


/* SERVICIO SECTION */
.servicio {
  width: 100%;
  height: auto;
  padding: 20px 0px 20px 0px;
  
  
    &__container {
    width: 95vw;
    max-width: 1200px;
    height: auto;
    margin: auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    }
  
    &__caja {
    background-color:map-get($colors,"white");
    margin: 20px 20px;
    height: 250px;
    width: 250px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    }
  
    &__caja p {
    margin-top: 45%;
    }
  
  }
  .corporativo {
  background-color:map-get($colors,"primary");
  }
  
  .editorial {
  background-color:map-get($colors,"green");
  }
  
  .packaging {
  background-color:map-get($colors,"violet");
  }
  

.hd {
  display: -webkit-box;
  display: flex;
  text-transform: uppercase;
  justify-content: center;

  .conocimiento {
    color: map-get($colors,"gray");
    text-align: center;
    margin: 0;
    font-size: 30px;
     }
  
}

.content1 {
  display: -webkit-box;
  display: flex;
  font-family: Roboto;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  justify-content: center;
  box-orient: horizontal;
}

.circular {
  
  background: linear-gradient(45deg,#F8ABE8 25%, #fad2ec 50%,#F8ABE8 100%);
    border-radius: 50%;
    box-shadow: 0px 15px 63px -15px rgba(0, 0, 0, 0.5);
    height: 200px;
    margin: 1em auto;
    position: relative;
    min-width: 200px;
    margin: 50px;
    padding-top: 50px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
   

  .circular-progress04 {
   

    &::before {
      background-color: #FAFAFA;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      color: rgba(0, 0, 0, 0.54);
      content: "45%";
      font-size: 40px;
      font-weight: bold;
      height: 100%;
      left: 0;
      line-height: 200px;
      position: absolute;
      text-align: center;
      top: 0;
      -webkit-transform: scale(0.87);
      transform: scale(0.87);
      width: 100%;
    }

    &:hover {
      box-shadow: 0 0 100px 1px rgba(255, 214, 112, 0.35);
    }
  }

  .circular-progress03 {
    
    &::before {
      background-color: #FAFAFA;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      color: rgba(0, 0, 0, 0.54);
      content: "95%";
      font-size: 40px;
      font-weight: bold;
      height: 100%;
      left: 0;
      line-height: 200px;
      position: absolute;
      text-align: center;
      top: 0;
      -webkit-transform: scale(0.87);
      transform: scale(0.87);
      width: 100%;
    }

    &:hover {
      box-shadow: 0 0 100px 1px rgba(255, 214, 112, 0.35);
    }
  }

  .circular-progress02 {
    
    &::before {
      background-color: #FAFAFA;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      color: rgba(0, 0, 0, 0.54);
      content: "85%";
      font-size: 40px;
      font-weight: bold;
      height: 100%;
      left: 0;
      line-height: 200px;
      position: absolute;
      text-align: center;
      top: 0;
      -webkit-transform: scale(0.87);
      transform: scale(0.87);
      width: 100%;
    }

    &:hover {
      box-shadow: 0 0 100px 1px rgba(255, 214, 112, 0.35);
    }
  }

  .circular-progress01 {
    

    &::before {
      background-color: #FAFAFA;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      color: rgba(0, 0, 0, 0.54);
      content: "90%";
      font-size: 40px;
      font-weight: bold;
      height: 100%;
      left: 0;
      line-height: 200px;
      position: absolute;
      text-align: center;
      top: 0;
      -webkit-transform: scale(0.87);
      transform: scale(0.87);
      width: 100%;
    }

    &:hover {
      box-shadow: 0 0 100px 1px rgba(255, 214, 112, 0.35);
    }
  }

  
    &:hover {
      box-shadow: 0 0 100px 1px rgba(255, 214, 112, 0.35);
    }
  }

  .circular-text {
    margin-bottom: 10px;
    padding-top: 160px;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
  }